/* VerticalTab.css */
.btn-like {
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  display: block; /* Full width */
  text-align: center; /* Center the text */
  border: 1px solid transparent; /* Optional: add a border */
  padding: 0.2rem 0.2rem; /* Match button padding */
  color: black; /* Bootstrap primary button text color */
  background-color: gainsboro; /* Background color */
}

.btn-like:hover, .btn-like:focus {
  color: #0056b3; /* Darker blue on hover/focus */
  text-decoration: none; /* Remove underline */
  background-color: #e9ecef; /* Light grey background */
}

.active-tab {
  color: #fff !important; /* White text for active tab */
  background-color: #1a3760 !important; /* Bootstrap primary button background color */
  border-color: #1a3760 !important; /* Matching border color */
}

.tab-content-area {
  max-height: 80vh; /* Adjust based on your needs */
  overflow-y: auto;
}
