.nav-link {
  color: black;
}
.nav-link.active {
  color: yellow !important;  /* Use !important to ensure the style is applied */
}

.budgetCarButton {
  border-radius: 16px;
}

/* findCarOfChoice.module.css */
.brandBox {
  border: 1px solid #ddd; /* Light grey border */
  border-radius: 8px; /* Rounded corners for the box */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow */
  transition: transform 0.2s; /* Smooth transition for hover effect */
  overflow: hidden; /* Ensures the image does not overflow the rounded corners */
}

.brandBox:hover {
  transform: translateY(-5px); /* Slightly raise the box on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Darker shadow on hover for a "lifting" effect */
}

.bodyTypeImage {
  object-fit: contain; /* Ensures the image fits nicely within the box */
}

.bodyTypeTitle {
  display: block; /* Ensures the title is on its own line */
  margin-top: 8px; /* Adds space between the image and the title */
  color: #333; /* Dark text color for the title */
  font-weight: bold; /* Make the brand name bold */
}


.bodyTypeItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.3s ease;
}

.bodyTypeItem:hover {
  transform: translateY(-5px);
}

.bodyTypeCheckImage {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
  object-fit: cover;
}

.bodyTypeTitle {
  font-weight: bold;
}

/* findCarOfChoice.module.css */
.tabsContainer {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* for smooth scrolling on iOS */
}

.nav-tabs {
  flex-wrap: nowrap;
  border-bottom: 0;
}

.nav-item {
  display: inline-block;
  margin-right: 10px; /* Adjust the margin as needed */
}

/* Hide scrollbar */
.tabsContainer::-webkit-scrollbar {
  display: none;
}

.tabsContainer {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}


